<h1>
    何老師的數據分析觀測站
</h1>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">何敏煌</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.nkust.edu.tw/">我的學校</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lotto/">樂透分析</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/">管理後台</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              數據分析
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/stock/">股市觀測</a></li>
              <li><a class="dropdown-item" href="/chart/">字詞統計圖</a></li>
              <li><a class="dropdown-item" href="/jquery-test/">jQuery Test</a></li>
              <li><a class="dropdown-item" href="/mongodb-test/">MongoDB Test</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>