{% extends "base.html" %}

{% block title %}這是何老師的網頁{% endblock %}
{% block headmessage %} <h2>Welcome</h2> {% endblock %}
{% block content %}
    <form action="/" method="POST">
        {% csrf_token %}
        關鍵字：
        <input type=text size=20 name="keyword" required>
        <input type=submit value="查詢">
    </form>
    <br>
    <p class="alert alert-info">以下總共找到{{ count }}篇新聞：</p>
    <table class="table table-warning table-striped">
        <tr><td>編號</td><td>新聞標題</td><td>日期</td></tr>
    {% for item in news %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="/show/{{ item.id }}/">{{item.title}}</a><br>
                <a class="btn btn-sm btn-outline-primary" href="{{item.url}}">原始出處</a>
            </td>
            <td>{{ item.pdate }}</td>
        </tr>
    {% endfor %}
    </table>    
{% endblock %}
