{% extends "base.html" %}

{% block title %}這是何老師的網頁{% endblock %}
{% block headmessage %} <h2>Welcome</h2> {% endblock %}
{% block content %}
    Hello
    {% if name %}
    {{ name }}
    {% else %}
    陌生人
    {% endif %}
    <table class="table table-danger table-striped">
        <tr><td>編號</td><td>新聞標題</td><td>日期</td></tr>
    {% for item in news %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.pdate }}</td>
        </tr>
    {% endfor %}
    </table>    
{% endblock %}
